<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About Us - Brand</title>
    <link rel="stylesheet" href="./stylesheets/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="./stylesheets/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="./stylesheets/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="./stylesheets/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Article-List.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/best-carousel-slide.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/card-3-column-animation-shadows-images.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Dropdown-Login-with-Social-Logins.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Feature-Section-MD.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Mega-Menu-Dropdown-100-Editable---Ambrodu.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/smoothproducts.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Testimonials.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" data-bs-hover-animate="pulse">
        <div class="container"><a class="navbar-brand logo" href="#"><strong>BheemX</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="contact-us">Contact us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="course">Course</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="about-us">About Us</a></li>
                </ul>
        </div><button class="btn btn-dark" type="button" style="background-color: rgb(149,15,15);"><strong>Login/SignUp</strong></button></div>
    </nav>
    <main class="page">
        <section class="clean-block about-us">
            <div class="container" data-aos="fade">
                <div class="block-heading">
                    <h1 class="text-info" style="color: rgb(52,27,26);"><strong>About Us</strong></h1>
                    <p>&nbsp;<strong style="color: rgb(174,17,17);">BheemX</strong>&nbsp; merupakan portal pendidikan yang menawarkan produk kuliah S1/S2 dengan metode blended learning dan program kursus lainnya. Pintaria bekerjasama dengan kampus-kampus
                        unggulan yang terakreditasi BAN-PT di Indonesia.</p>
                    <p></p>
                </div>
                <p class="text-center"><strong>Team</strong></p>
                <p></p><strong></strong>
                <p class="text-center"></p>
                <p class="text-center"></p>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="./stylesheets/assets/img/avatars/avatar1.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Nofrets Poai</h4>
                                <p class="card-text">CEO&nbsp;</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook" style="color: rgb(135,14,21);"></i></a><a href="#"><i class="icon-social-instagram" style="color: rgb(135,14,21);"></i></a><a href="#"><i class="icon-social-twitter" style="color: rgb(135,14,21);"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="./stylesheets/assets/img/avatars/avatar1.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Renaldo Pontoh</h4>
                                <p class="card-text">System Analyst</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook" style="color: rgb(135,14,21);"></i></a><a href="#"><i class="icon-social-instagram" style="color: rgb(135,14,21);"></i></a><a href="#"><i class="icon-social-twitter" style="color: rgb(135,14,21);"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="./stylesheets/assets/img/avatars/avatar2.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Devid Joshua</h4>
                                <p class="card-text">IT Programing</p>
                                <div class="icons"><a href="#" style="color: rgb(135,14,21);"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram" style="color: rgb(135,14,21);"></i></a><a href="#"><i class="icon-social-twitter" style="color: rgb(135,14,21);"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center" style="margin-top: 20px;"><img class="card-img-top w-100 d-block" src="./stylesheets/assets/img/avatars/avatar3.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Andrew Rendyanto</h4>
                                <p class="card-text">Front-end Programer</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook" style="color: rgb(135,14,21);"></i></a><a href="#"><i class="icon-social-instagram" style="color: rgb(135,14,21);"></i></a><a href="#"><i class="icon-social-twitter" style="color: rgb(135,14,21);"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card border rounded clean-card text-center" style="margin-top: 20px;"><img class="card-img-top w-100 d-block border rounded" style="opacity: 1;filter: blur(0px);" src="./stylesheets/assets/img/avatars/avatar3.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">MIchael Tinangon</h4>
                                <p class="card-text">Back-end Programer</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook" style="color: rgb(135,14,21);"></i></a><a href="#"><i class="icon-social-instagram" style="color: rgb(135,14,21);"></i></a><a href="#"><i class="icon-social-twitter" style="color: rgb(135,14,21);"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4" style="margin-top: 20px;">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="./stylesheets/assets/img/avatars/avatar3.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Julian Purukan</h4>
                                <p class="card-text">Front-End Programer</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook" style="color: rgb(135,14,21);"></i></a><a href="#"><i class="icon-social-instagram" style="color: rgb(135,14,21);"></i></a><a href="#"><i class="icon-social-twitter" style="color: rgb(135,14,21);"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="./stylesheets/assets/js/jquery.min.js"></script>
    <script src="./stylesheets/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="./stylesheets/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="./stylesheets/assets/js/smoothproducts.min.js"></script>
    <script src="./stylesheets/assets/js/theme.js"></script>
</body>

</html>