<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="./stylesheets/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="./stylesheets/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="./stylesheets/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="./stylesheets/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Article-List.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/best-carousel-slide.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/card-3-column-animation-shadows-images.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Dropdown-Login-with-Social-Logins.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Feature-Section-MD.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Mega-Menu-Dropdown-100-Editable---Ambrodu.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Pretty-Table-1.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Pretty-Table.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/smoothproducts.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Testimonials.css">
</head>

<body>
    <div class="article-list">
        <div class="container" style="background-color: rgba(255,255,255,0.4);">
            <div class="intro">
                <h2 class="text-center" style="margin-top: 48px;">Attendance</h2>
            </div>
        </div>
    </div>
    <div class="container" style="margin-bottom: 20px;">
        <div class="card" style="margin: 0px;margin-top: 0px;margin-bottom: 0px;">
            <div class="card-body" style="margin: 0px;margin-top: 0px;margin-bottom: 0px;">
                <p><strong>Search</strong></p>
                <h6 class="text-muted card-subtitle mb-2" style="margin-top: 30px;"><i class="fa fa-search"></i><input type="search" style="width: 170px;"></h6><button class="btn btn-dark" type="button" style="background-color: rgb(149,15,15);margin-left: 15px;width: 100px;margin-top: 30px;"><strong>Reset</strong></button>
                <button
                    class="btn btn-dark" type="button" style="background-color: rgb(149,15,15);margin-left: 15px;width: 100px;margin-top: 30px;"><strong>Submit</strong></button>
            </div>
        </div>
    </div>
    <div class="container" style="margin-bottom: 50px;">
        <div class="card" style="margin: 0px;margin-top: 0px;margin-bottom: 0px;"></div>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="text-center"><strong>List Of Student</strong></p>
            <div class="datagrid">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 100px;">No&nbsp;</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Course ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>1</strong></td>
                            <td>Renaldo Pontoh</td>
                            <td>Renaldopontoh@gmail.com</td>
                            <td>AD123456778</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <div class="paging">
                                    <ul>
                                        <li><a href="#"> <span>Previous </span></a></li>
                                        <li><a class="active" href="#"> <span>1 </span></a></li>
                                        <li><a href="#"> <span>2 </span></a></li>
                                        <li><a href="#"> <span>3</span></a></li>
                                        <li><a href="#"> <span>Next </span></a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div><button class="btn btn-dark" type="button" style="background-color: rgb(149,15,15);margin-left: 15px;width: 100px;margin-top: 30px;"><strong>Reset</strong></button><button class="btn btn-dark" type="button" style="background-color: rgb(149,15,15);margin-left: 15px;width: 100px;margin-top: 30px;"><strong>Save</strong></button></div>
    </div>
    <div class="card"></div>
    <script src="./stylesheets/assets/js/jquery.min.js"></script>
    <script src="./stylesheets/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="./stylesheets/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="./stylesheets/assets/js/smoothproducts.min.js"></script>
    <script src="./stylesheets/assets/js/theme.js"></script>
</body>

</html>