<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact Us - Brand</title>
    <link rel="stylesheet" href="./stylesheets/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="./stylesheets/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="./stylesheets/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="./stylesheets/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Article-List.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/best-carousel-slide.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/card-3-column-animation-shadows-images.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Dropdown-Login-with-Social-Logins.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Feature-Section-MD.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Mega-Menu-Dropdown-100-Editable---Ambrodu.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/smoothproducts.css">
    <link rel="stylesheet" href="./stylesheets/assets/css/Testimonials.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" data-bs-hover-animate="pulse">
        <div class="container"><a class="navbar-brand logo" href="/"><strong>BheemX</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="contact-us">Contact us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="course">Course</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="about-us">About Us</a></li>
                </ul>
        </div><button class="btn btn-dark" type="button" style="background-color: rgb(149,15,15);"><strong>Login/SignUp</strong></button></div>
    </nav>
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container" data-bs-parallax-bg="true" style="background-image: url(./stylesheets/assets/img/desk.jpg);background-position: center;background-size: cover;">
                <div class="block-heading">
                    <h2 class="text-info" data-bs-hover-animate="shake" style="color: #590808;"><strong>Contact Us</strong></h2>
                    <p></p>
                </div>
                <form data-bs-hover-animate="pulse">
                    <div class="form-group"><label>Name</label><input class="form-control" type="text"></div>
                    <div class="form-group"><label>Subject</label><input class="form-control" type="text"></div>
                    <div class="form-group"><label>Email</label><input class="form-control" type="email"></div>
                    <div class="form-group"><label>Message</label><textarea class="form-control"></textarea></div>
                    <div class="form-group"><button class="btn btn-dark btn-block" data-bs-hover-animate="bounce" type="submit" style="background-color: rgb(159,18,18);">Send</button></div>
                </form>
            </div>
        </section>
    </main>
    <script src="./stylesheets/assets/js/jquery.min.js"></script>
    <script src="./stylesheets/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="./stylesheets/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="./stylesheets/assets/js/smoothproducts.min.js"></script>
    <script src="./stylesheets/assets/js/theme.js"></script>
</body>

</html>